<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/home/signup.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content" >
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>UniUnity 회원가입</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">이메일</label>
                                <input type="text" name="name" id="name" required/>
                            </div>
                            <div class="form-group">
                                <label for="father_name">인증코드</label>
                                <input type="text" name="father_name" id="father_name" required/>
                            </div>
                            <div class="form-submit">
                                <input type="submit" value="인증확인" class="submit" name="submit" id="submit" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">비밀번호</label>
                            <input type="text" name="address" id="address" required/>
                        </div>
                        <div class="form-group">
                            <label for="address">비밀번호 확인</label>
                            <input type="text" name="address" id="address" required/>
                        </div>
                        <div class="form-group">
                            <label for="address">이름</label>
                            <input type="text" name="address" id="address" required/>
                        </div>
                        <div class="form-radio">
                            <label for="gender" class="radio-label">유저 타입 :</label>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="male" checked>
                                <label for="male">대학생</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="female">
                                <label for="female">상인</label>
                                <span class="check"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="pincode">닉네임(상인은 상업명으로 설정하는 것을 권장합니다)</label>
                            <input type="text" name="pincode" id="pincode">
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="처음으로" class="submit" name="reset" id="reset" />
                            <input type="submit" value="회원가입" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>