<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ÜniÜnity | 우리 대학 </title>
    <link rel="stylesheet" src="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!--swiper 라이브러리-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!--css 연결-->
    <link rel="stylesheet" href="/css/home/mainpage.css">
    <link rel="stylesheet" href="/css/council/council.css">
    <!-- 카카오 지도 API 사용 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5166111ed4f1253158d6cada9a192b0"></script>
</head>
<body>

    <div class="main-container">
        <!--헤더-->
        <div class="temp-box" id="temp-box1">
            <!--상단 메뉴바-->
            <div class="menubar">
                <ul class="menu">
                    
                            <li id="universityName"></li>
                    
                    <li>
                        <a id="main_retailer" href="#" target="_self">
                        소상공인 가게 지도
                        </a>
                    </li>
                    <li>
                        <a id="partner" href="#" target="_self">
                        제휴 지도
                        </a>
                    </li>
                    <li>
                        <a id="mypage" href="#" target="_self">
                        마이페이지
                        </a>
                        <br>
                        <span id="userName"></span>
                    </li>
                </ul>
            </div>
        </div>
        <!--학교 주요 소식-->
        <div class="temp-box" id="temp-box2">
            <div class="main-news">
                <ul>
                    <span class="category">학교 주요 소식</span>
                    <a id="news" href="#" target="_self">
                        <span class="more">더보기 ►</span>
                    </a>
                </ul>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <!--swiper 요소-->
                    <div class="swiper-slide"><a href="http://localhost:3000/sungshin/mainNews" target="_self">
                        <img class="news" src="/images/img1.JPG" alt="no_image1">
                    </a></div>
                    <div class="swiper-slide"><a href="http://localhost:3000/sungshin/mainNews" target="_self">
                        <img class="news" src="/images/img2.JPG" alt="no_image2">
                    </a></div>
                    <div class="swiper-slide"><a href="http://localhost:3000/sungshin/mainNews" target="_self">
                        <img class="news" src="/images/img3.JPG" alt="no_image3">
                    </a></div>
                    <div class="swiper-slide"><a href="http://localhost:3000/sungshin/mainNews" target="_self">
                        <img class="news" src="/images/img4.JPG" alt="no_image4">
                    </a></div>
                    <div class="swiper-slide"><a href="http://localhost:3000/sungshin/mainNews" target="_self">
                        <img class="news" src="/images/img5.JPG" alt="no_image5">
                    </a></div>
                </div> 
                <!--buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>  
        </div>
        <!--소상공인 상가-->
        <div class="temp-box" id="temp-box3">
            <div class="stores">
                <ul>
                    <span class="category">우리 대학  인근 소상공인 상가 모아보기</span>
                        <a id="more_retailer" href="#" target="_self">                           
                            <span class="more">더보기 ►</span>
                        </a>
                </ul>
            </div>
            <div class="map" id="map"></div>
            
        </div>
        <!--다른 학교 검색-->
        <div class="temp-box" id="temp-box4">
            <ul class="others">
                <a href="http://localhost:3000/" target="_self">
                <span id="more_university" class="more">다른 학교도 궁금하다면? ►</span>
                </a>
            </ul>
        </div>
    </div>
    <!--자바스크립트 연결-->
    <script src="/js/council/council.js"></script>
</body>
</html>